body {
  margin: 0;
  padding: 0;
}

#main {
  background-image: linear-gradient(to right top, #916ad1, #946cd1, #966fd2, #9971d2, #9b74d3, #9e78d5, #a07dd8, #a381da, #a789df, #ab90e3, #af98e8, #b39fec);
  width: 100%;
  padding-bottom: 10px;
}

.img1 {
  width: 20px;
}

.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.top__card {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.main__cost {
  margin-top: 10px;
  margin-left: 40px;
  color: azure;
  padding-bottom: 50px;
}
.num1 {
  color:cornsilk
}

.num2 {
  font-size: 18px;
}
.num3 {
  font-size: 23px;
}

.mono {
  height: 170px;
}

.dots {
 display: flex;
 justify-content: center;
 margin-top: 10px;
 padding-bottom: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: cornsilk;
  border-radius: 50%;
  margin-left: 8px;
}
.link {
  background-color: #dbc7e9;
}

.info {
  display: flex;
  margin-top: 30px;
}
.cl {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
}

.circul {
  background-size: cover;
  background-image: url(https://cdn0.iconfinder.com/data/icons/cosmo-layout/40/download_4-128.png);
}
.circull {
  background-size: cover;
  background-image: url(https://cdn3.iconfinder.com/data/icons/money-and-banking-6/64/Money_And_Banking-06-512.png);
}
.circulll {
  background-size: cover;
  background-image: url(https://cdn4.iconfinder.com/data/icons/font-awesome-regular/640/money-bill-alt-512.png);
}

.t {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  margin-top: 10px;
}
.tt {
  font-size: 14px;
}

#black {
  background-color: rgb(28, 27, 27);
  padding-top: 20px;
  padding-bottom: 20px;
  color: aliceblue;
  padding-top: 30px;
  padding-bottom: 45px;
}
.date {
  text-align: center;
}

.send__img {
  display: flex;
  margin-top: 30px;
}
.send {
  display: flex;
  justify-content: space-around;
}
.send__money {
  margin-left: 35px;
  color: green;
}
#im {
  width: 20px;
  background-color: #fff;
  display: block;
  margin-left: 3px;
}
.from {
  margin-left: 20px;
  display: block;
}
.zero {
  font-size: 12px;
  opacity: .5;
}
#blue {
  background-color: rgb(102, 141, 226);
  padding-top: 10px;
  padding-bottom: 10px;
}
.inf {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}
#fix {
  width: 20px;
  height: 20px;
  display: block;
}
.in {
  display: block;
  margin-left: 5px;
}

#last {
  display: flex;
  justify-content: space-around;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: rgb(35, 33, 33);
  padding-top: 20px;
  padding-bottom: 20px;
}
.v{
  font-size: 20px;
}
img {
  width: 25px;
}

.ig {
  display: flex;
  justify-content: space-around;
  background-color: rgb(35, 33, 33);
  padding-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.iig {
  color: rgb(252, 250, 250);
  width: 25px;
  font-size: 15px;
}
