body {
  margin: 0;
  padding: 0;
}

#main {
  background-image: linear-gradient(to left top, #a363ce, #aa6ed2, #b278d5, #b983d9, #c08ddd, #c08fde, #bf92e0, #bf94e1, #b78fe0, #ae8ae0, #a585df, #9b80df);
  width: 100%;
  padding-bottom: 10px;
}

.img1 {
  width: 20px;
}

.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.top__card {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.main__cost {
  margin-top: 10px;
  margin-left: 40px;
  color: azure;
}
.num1 {
  color:cornsilk
}

.num2 {
  font-size: 18px;
}
.num3 {
  font-size: 23px;
}

.mono {
  height: 120px;
}

.dots {
 display: flex;
 justify-content: center;
 margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: cornsilk;
  border-radius: 50%;
  margin-left: 8px;
}
.link {
  background-color: #dbc7e9;
}

.info {
  display: flex;
  margin-top: 30px;
}
.cl {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
}

.circul {
  background-size: cover;
  background-image: url(https://cdn0.iconfinder.com/data/icons/cosmo-layout/40/download_4-128.png);
}
.circull {
  background-size: cover;
  background-image: url(https://cdn3.iconfinder.com/data/icons/money-and-banking-6/64/Money_And_Banking-06-512.png);
}
.circulll {
  background-size: cover;
  background-image: url(https://cdn4.iconfinder.com/data/icons/font-awesome-regular/640/money-bill-alt-512.png);
}

.t {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  margin-top: 10px;
}
.tt {
  font-size: 12px;
}

#black {
  background-color: rgb(28, 27, 27);
  padding-top: 20px;
  padding-bottom: 20px;
  color: aliceblue;
}
.date {
  text-align: center;
}

.send__img {
  display: flex;
  margin-top: 30px;
}
.send {
  display: flex;
  justify-content: space-around;
}
.send__money {
  margin-left: 30px;
  color: green;
}
#im {
  width: 20px;
  background-color: #fff;
  display: block;
  margin-left: 3px;
}
.from {
  margin-left: 20px;
  display: block;
}
.zero {
  font-size: 12px;
  opacity: .5;
}
#blue {
  background-color: rgb(102, 141, 226);
  padding-top: 10px;
  padding-bottom: 10px;
}
.inf {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}
#fix {
  width: 20px;
  height: 20px;
  display: block;
}
.in {
  display: block;
  margin-left: 5px;
}

#last {
  display: flex;
  justify-content: space-around;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: rgb(35, 33, 33);
}

img {
  width: 25px;
}

.ig {
  display: flex;
  justify-content: space-around;
  background-color: rgb(35, 33, 33);
}
.iig {
  color: rgb(252, 250, 250);
  width: 25px;
  font-size: 12px;
}